@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lh-1 {
  line-height: 1 !important;
}
.lh-1_1 {
  line-height: 1.1 !important;
}
.lh-1_2 {
  line-height: 1.2 !important;
}
.lh-1_3 {
  line-height: 1.3 !important;
}
.lh-1_4 {
  line-height: 1.4 !important;
}
.lh-1_5 {
  line-height: 1.5 !important;
}
.lh-1_6 {
  line-height: 1.6 !important;
}
.lh-1_7 {
  line-height: 1.7 !important;
}
.lh-1_8 {
  line-height: 1.8 !important;
}
.lh-1_9 {
  line-height: 1.9 !important;
}

@layer base {
  * {
    @apply font-outfit text-white;
  }

  body,
  html {
    @apply bg-black text-white;
  }
}

@layer components {
  .container {
    @apply mx-auto w-[90%] lg:w-[84%] max-w-[1400px];
  }

  .container-two {
    @apply mx-auto w-[90%] max-w-[940px];
  }

  .nav-link {
    @apply transition-all duration-200 hover:text-primary hover:underline;
  }

  .centered-cliped {
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  }

  .color-inherit {
    color: inherit;
  }

  .heading-sub {
    @apply text-sm md:text-base;
  }

  /* TABLE */

  .validator-table {
    @apply w-full overflow-hidden border-collapse min-w-[900px];
  }

  .validator-table thead tr {
    @apply border-b-2 border-black;
  }

  .validator-table tr:not(:last-child) {
    @apply border-b-2 border-black;
  }

  .validator-table tbody tr td:last-child,
  .validator-table thead tr th:last-child {
    @apply bg-primary text-black font-semibold;
  }

  .validator-table th {
    @apply text-left;
  }

  .validator-table th {
    @apply text-sm lg:text-base text-primary;
  }

  .validator-table td {
    @apply text-xs lg:text-sm;
  }

  .validator-table td,
  .validator-table th {
    @apply bg-blue-1 py-4 px-3 md:px-6 font-medium;
  }

  /* WRAAPPERS */
  .validator-grid {
    @apply grid lg:grid-cols-2 gap-5 xl:gap-7 mb-10 lg:mb-16;
  }

  /* BLOBS */
  .yellow-blob {
    @apply w-[200px] md:w-[300px] h-[200px] md:h-[300px] rounded-full bg-primary -z-10 blur-[200px];
  }
  .yellow-corner-blob {
    @apply absolute top-0 left-0 w-[200px] md:w-[300px] h-[200px] md:h-[300px] rounded-full bg-primary -z-10 blur-[200px];
  }
  .yellow-center-blob {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary -z-10;
  }

  /* STAKE TABLES */

  .stake-nodes-table {
    --bgColor: #0b0d10;
    --highlightedColor: #212121;

    @apply w-full bg-[var(--bgColor)] overflow-hidden;
  }

  .stake-nodes-table th,
  .stake-nodes-table td {
    @apply text-left text-xs sm:text-sm h-[50px] lg:h-[59px] px-6 overflow-hidden text-ellipsis;
  }

  .stake-nodes-table.evenBg tbody > tr:nth-child(2n + 1) {
    @apply bg-[var(--highlightedColor)];
  }

  .stake-nodes-table.dividerLine tr:nth-child(2n + 1) > td,
  .stake-nodes-table.dividerLine tr:nth-child(2n + 1) > th {
    @apply border-b-1px border-[#5A5A5A];
  }

  .stake-nodes-table.dividerLine tr:nth-child(2n + 1) > td.lineNone,
  .stake-nodes-table.dividerLine tr:nth-child(2n + 1) > th.lineNone {
    @apply border-b-0;
  }

  /* TOKEN STATS TABLE */

  .token-stats-table {
    @apply w-full table-fixed;
  }

  .token-stats-table thead {
    @apply bg-primary;
  }

  .token-stats-table tbody tr {
    @apply border-b-1px border-[#2C2C2C];
  }

  .token-stats-table th {
    @apply text-black;
  }

  .token-stats-table th,
  .token-stats-table td {
    @apply text-left px-6 py-2 md:py-3 text-xs sm:text-sm font-medium;
  }

  /*  */

  .research-list-wrapper {
    @apply space-y-20;
  }

  .research-list {
    @apply space-y-6;
  }

  /*  */

  .milestone-table {
    @apply overflow-x-auto;
  }

  .milestone-table table {
    @apply min-w-[700px] table-auto;
  }

  /* dictator SECTION */

  .dictator-content {
    @apply space-y-16 lg:space-y-20;
  }

  .dictator-section {
    @apply space-y-5;
  }

  .dictator-title {
    @apply text-lg lg:text-2xl xl:text-3xl font-semibold text-primary;
  }

  .dictator-title-center {
    @apply text-lg lg:text-2xl xl:text-3xl font-semibold text-primary text-center;
  }

  .dictator-desc {
    @apply fs-16px lh-1_6;
  }

  .dictator-indented-1 {
    @apply ml-8 lg:ml-[85px];
  }
  .dictator-indented-2 {
    @apply ml-4 lg:ml-[35px];
  }

  /* FONT-SIZES */

  .text-inherit {
    @apply text-[inherit];
  }

  .fs-16px {
    @apply text-sm md:text-base;
  }

  .fs-18px {
    @apply text-base xl:text-lg;
  }

  .fs-20px {
    @apply text-base lg:text-lg xl:text-xl;
  }

  .fs-24px {
    @apply text-lg xl:text-2xl;
  }

  /* FORMS */

  input.floating-label:focus-within ~ label,
  input.floating-label:not(:placeholder-shown) ~ label {
    @apply transform bottom-[90%] top-[unset] -translate-y-0;
  }

  input.floating-label:focus-within ~ label {
    @apply text-primary;
  }

  .outline input.floating-label:focus-within ~ label,
  .outline input.floating-label:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-4 z-0;
  }

  /* CHECKBOX */

  /* CHECKBOX */

  .checkbox {
    --tick-color: black;
  }

  .checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkbox input.show-tick[type="checkbox"]::before {
    content: "\2713";
    font-size: 1rem;
    /* color: white; */
    transition: all 0.25s ease;
    scale: 0;
  }
  .checkbox input.show-tick[type="checkbox"]:checked:before {
    scale: 1;
    color: var(--tick-color);
  }

  /* SLIDER */

  .people-slider-bullet {
    @apply w-[10px] h-[10px] cursor-pointer rounded-full bg-[#BABABA] transition-all duration-200;
  }

  .people-slider-bullet.active {
    @apply bg-white;
  }

  /* DASHBOARD */
  .dashboard-layout {
    @apply px-6 lg:px-10;
  }

  .dashboard-top-spacing {
    @apply pt-7;
  }
  .dashboard-bottom-spacing {
    @apply pb-7;
  }

  /*  */

  .pagelink-activated {
    @apply bg-primary;
  }
  .pagelink-activated .pagelink-img {
    @apply brightness-0;
  }
  .pagelink-activated .pagelink-text {
    @apply text-black;
  }

  /* FLOATING LABEL INPUT */
  .did-floating-label-content {
    ----float-font-size: 13px;
    @apply relative;
  }
  .did-floating-label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    bottom: 50%;
    transform: translateY(50%);
    padding: 0 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .did-floating-input,
  .did-floating-select {
    /* @apply h-[40px] xl:h-[50px]; */

    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .did-floating-input:focus,
  .did-floating-select:focus {
    outline: none;
  }

  select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select.did-floating-select::-ms-expand {
    display: none;
  }

  .did-floating-input:focus ~ .did-floating-label,
  .did-floating-select:focus ~ .did-floating-label {
    bottom: 82%;
    transform: translateY(0%);
    font-size: var(--float-font-size);
  }
  .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
    bottom: 82%;
    font-size: var(--float-font-size);
    transform: translateY(0%);
  }
  .did-floating-select.up ~ .did-floating-label {
    bottom: 82%;
    font-size: var(--float-font-size);
    transform: translateY(0%);
  }
  .did-floating-select[value=""]:focus ~ .did-floating-label {
    bottom: 82%;
    font-size: var(--float-font-size);
    transform: translateY(0%);
  }
  .did-floating-select:not(:placeholder-shown) ~ .did-floating-label {
    bottom: 82%;
    font-size: var(--float-font-size);
    transform: translateY(0%);
  }
  /* .did-error-input .did-floating-input,
  .did-error-input .did-floating-select {
    border: 2px solid #9d3b3b;
    color: #9d3b3b;
  }
  .did-error-input .did-floating-label {
    font-weight: 600;
    color: #9d3b3b;
  }
  .did-error-input .did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
  } */
  .input-group {
    display: flex;
  }
  .input-group .did-floating-input {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    padding-left: 0;
  }
  .input-group-append {
    display: flex;
    align-items: center;
  }
  /* margin-left:-1px;
  */
  .input-group-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 34px;
    color: #323840;
    padding: 0 5px 0 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #3d85d8;
    border-radius: 4px 0 0 4px;
    border-right: none;
  }

  .nft-activity-table {
    @apply w-full min-w-[800px];
  }

  .nft-activity-table td,
  .nft-activity-table th {
    @apply text-xs xl:text-sm py-2 px-2 text-left;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.two-lines-only {
  --lines: 2;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines); /* number of lines to show */
}

.cut-text {
  --width: 160px;

  text-overflow: ellipsis;
  overflow: hidden;
  width: var(--width);
  height: 1.2em;
  white-space: nowrap;
}

.line-chart {
  width: 100% !important;
}

/* RADIO */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  display: block;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-color: #9d9d9d;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  @apply bg-primary;
  content: "";
  width: 46%;
  height: 46%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1) translate(-50%, -50%);
}

[type="radio"]:checked + label:before {
  @apply border-primary;
}

/* POPUP ANIMTION */

.popup-in {
  animation: mount forwards 300ms;
  top: 40%;
  left: 50%;
}

@keyframes mount {
  0% {
    top: 40%;
    left: 50%;
  }

  100% {
    top: 50%;
  }
}

.popup-out {
  animation: unmount forwards 300ms;
  top: 50%;
  left: 50%;
}

@keyframes unmount {
  0% {
    top: 50%;
    left: 50%;
  }

  100% {
    top: 40%;
  }
}

video-js {
  height: 100% !important;
  width: 100% !important;
  border: 1px solid #212121;
}

.vjs-progress-control {
  visibility: hidden !important;
}

video-js .vjs-control .vjs-button .vjs-playing {
  display: none;
}

video-js .vjs-picture-in-picture-control {
  display: none !important;
}

.video-js .vjs-time-control {
  display: none !important;
}

#shareButton {
  font-family: "Font Awesome 5 Free";
}

#shareButton .vjs-icon-placeholder {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
}

#shareButton .vjs-icon-placeholder::before {
  content: "\f064";
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
}

.video-js .vjs-tech {
  pointer-events: none !important;
}

.custom-pip-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 300px;
  width: 400px;
  overflow: hidden;
  z-index: 1000;
}

.custom-pip-window > video-js {
  height: auto !important;
  width: 100% !important;
}

.active-class {
  border: 1px solid #ffcc00;
}

@media only screen and (max-width: 600px) {
  #vjs_video_3 {
    margin-left: 0;
  }
  #video-wrapper {
    padding-top: 0;
  }
}

.page-disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #e2e2e2;
  color: #e2e2e2;
}

aside.EmojiPickerReact.epr-main {
  position: absolute !important;
  z-index: 1000 !important;
  bottom: 15% !important;
}

.explorer-pagination ul {
  display: flex;
  justify-content: center;
}

.explorer-pagination ul li {
  padding: 5px 15px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.green-icon > svg > path {
  fill: green !important;
}


/* Dashboard Styles */
.custom-btn-mui{
  background-color: #ffef00 !important;
  
}

.custom-btn-mui:hover {
  background-color: rgb(178, 167, 0) !important;

}